<%- include("../partials/header.ejs") %>
<div class="container my-3">
	<header class="jumbotron">
		<h1>
			Welcome to Yelp Camp!!
		</h1>
		<p>
			Your adventure, awaits.
		</p>
		<a class="btn btn-primary" href="/campgrounds/new">New +</a>
		<a class="btn btn-primary"href="/">Home</a>
	</header>
	
	<div class="row">
		<% campgrounds.forEach(function(cg){ %>
		<div class="col-md-3 col-sm-6">
			<div class="card mt-2">
				<img class="card-img-top" src="<%=cg.image%>">
				<div class="card-body">
					<p class="card-text">
						<%= cg.name%>
					</p>
					<a class="btn btn-outline-primary" href="/campgrounds/<%= cg._id%>">Show more</a>
				</div>
			</div>
		</div>
		<%});%>
	</div>
	
			
	
</div>
<%-include("../partials/footer.ejs") %>
